* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(30, 30, 45);
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 95%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cabecalho {
    background-color: rgb(55, 55, 85);
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255);
    border-top: 2px solid rgb(20, 15, 50);
    border-left: 2px solid rgb(20, 15, 50);
    border-right: 2px solid rgb(20, 15, 50);
}

.inserir_assistente {
    background-color: rgb(55, 55, 85);
    display: flex;
    height: 5%;
    gap: 0.5%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    border-left: 2px solid rgb(20, 15, 50);
    border-right: 2px solid rgb(20, 15, 50);
}

.inputs {
    height: 50%;
    width: 11%;
    outline: none;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.inputs:hover {
    background-color: rgb(120, 175, 245);
}

.send_button {
    height: 70%;
    width: 8%;
    color: rgb(255, 255, 255);
    background-color: rgb(225, 25, 90);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out
}

.send_button:hover {
    background-color: rgb(255, 90, 145);
    color: rgb(20, 15, 50);
}

.tabela_container {
    background-color: rgb(80, 80, 125);
    height: 85%;
    cursor: default;
    overflow: auto;
    border: 2px solid rgb(20, 15, 50);
}

.tabela_header {
    display: flex;
    height: 7%;
    width: 100%;
    background-color: rgb(65, 125, 205);
    color: rgb(255, 255, 255);
    top: 0;
    position: sticky;
    border-bottom: 2px solid rgb(20, 15, 50);
}

.tabela_header_nome {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_escritorio {
    display: flex;
    width: 7%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_zage {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_assistente {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_fornecedor {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_email {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_superior {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_header_buttons {
    display: flex;
    height: 100%;
    width: 5%;
    align-items: center;
    justify-content: center;
}

.tabela_body {
    background-color: rgb(80, 80, 125);
    font-size: small;
    width: 100%;
}

.tabela_body_row {
    display: flex;
    height: 25px;
    border-bottom: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_nome {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_escritorio {
    display: flex;
    width: 7%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_zage {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_assistente {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_fornecedor {
    display: flex;
    width: 9%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_email {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_superior {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(20, 15, 50);
}

.tabela_body_row_buttons {
    display: flex;
    height: 100%;
    width: 5%;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

.tabela_body_row_buttons_delete {
    color: rgb(255, 90, 145);
}

.tabela_body_row_buttons_delete:hover {
    color: rgb(225, 25, 90);
}

#tabela_body_row_buttons_edit {
    color: rgb(120, 175, 245);
    cursor: pointer;
}

#tabela_body_row_buttons_edit:hover {
    color: rgb(65, 125, 205);
    cursor: pointer;
}

.tabela_body_row_inputs {
    outline: none;
    border: none;
    width: 95%;
    height: 90%;
    text-align: center;
    background-color: rgb(80, 80, 125);
    color: rgb(255, 255, 255);
}