<!-- Carrega os arquivos estáticos. -->
{% load static %}

<!-- Header. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'database/database.ico' %}">
    <link rel="stylesheet" href="{% static 'database/database.css' %}">
    <title>Database</title>
</head>

<!-- Body. -->
<body>

    <!-- Container. -->
    <div class="container">
        <div class="container_header">Databases que têm acesso:</div>
        <div class="container_body">

            <!-- Para cada table autorizada, aparece no front. -->
            {% for tabela in tabelas_permitidas %}
                <a class="container_body_databases" href="{{ tabela }}">{{ tabela }}</a><br>
            {% empty %}
                <p class="container_body_empty">Você não tem acesso a nenhuma tabela.</p>
            {% endfor %}
        
            <!-- Fecha container_body. -->
        </div>

    <!-- Fecha container. -->
    </div>
</body>
</html>