* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(61, 61, 61);
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(102, 197, 194);
    gap: 1%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: aliceblue;
}

.container_header_input {
    outline: none;
    border: none;
    border-radius: 30px;
    height: 60%;
    text-align: center;
}

.container_header_button {
    height: 60%;
    width: 10%;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.container_header_button:hover {
    cursor: pointer;
    background-color: rgb(48, 94, 141);
    color: aliceblue;
}

.container_body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: rgb(233, 233, 233);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    gap: 2%;
}

.container_body_dados {
    height: 100%;
    width: 25%;
    background-color: blue;
}

.container_body_tabela {
    height: 90%;
    width: 70%;
    background-color: brown;
    border-radius: 30px;
}